<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box {
            background-color: purple;
            height: 200px;
            width: 200px;
        }

        [v-cloak] {
            display: none;
        }

        input {
            margin: 10px;
            display: block;
        }
    </style>
</head>

<body>

    <div id="app" v-cloak>
        <login-form />


        <input @keyup.enter="greet(greeting + ' this is keyboard event')" v-model="greeting" />


        <hr />
        <!-- Short hand event directives @click == v-on: represent on click -->
        <button @click="toggleBox">Toggle Box</button>
        <!-- <button v-on:click="isVisible = !isVisible">Toggle Box</button> -->

        <div v-if="isVisible" class="box"></div>

    </div>



    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let app = Vue.createApp({
            data: function () {
                return {
                    greeting: "Hello Vue 3!",
                    isVisible: false
                }
            },
            methods: {
                toggleBox() {
                    this.isVisible = !this.isVisible
                },
                greet(greeting) {
                    console.log(greeting)
                }
            },
            // Lifecycle hooks
            beforeCreate() {
                console.log('Before Create')
            },
            updated() {
                console.log('Updated')
            }
        })

        app.component('login-form', {
            template: `
            <form @submit="handleSubmit">
                <h1>{{ title }}</h1>
                  
                
                <custom-input 
                    v-for="(input, i) in inputs"
                    :key="i"
                     v-model="input.modelValue"
                     :label="input.label"
                     :type="input.type"
                     />
                <button>Log in</button>
            </form>
            `,
            components: ['custom-input'],
            data() {
                return {
                    title: 'Login Form',
                    inputs: [
                        { label: 'Email', modelValue: '', type: 'email'},
                        { label: 'Password', modelValue: '', type: 'password' }
                    ],
                    email: '',
                    password: '',
                    emailLabel: 'Email',
                    passwordLabel: 'Password'
                }
            },
            methods: {
                handleSubmit() {
                    console.log(this.inputs[0].modelValue, this.inputs[1].modelValue)
                }
            }
        })

        app.component('custom-form', {
            template: `
                <form @submit.prevent="handleSubmit">
                    <h1>{{ title }}</h1>
                    <input type="email" v-model="email" />
                    <input type="password" v-model="password" />
                    <button type="submit">Submit</button>
                </form>
            `, 
            data() {
                return {
                    title: 'Login Form',
                    email: '',
                    password: ''
                }
            },
            methods: {
                handleSubmit() {
                    console.log('Form submitted')
                    console.log(this.email, this.password)
                }
            }
        })
        
        app.component('custom-input', {
            template: `
               <label>
                    {{ label }}
                    <input type="text" v-model="inputValue"/>
                    </label>
            `,

            props: ['label', 'type', 'modelValue'],
           computed: {
             inputValue: {

              get() {
                return this.modelValue
                },
                set(value) {
                    
                    // Emmit an event so other can listen to
                    //1st argument is the type of event
                    //2nd argument is the value we want to pass
                    this.$emit('update:modelValue', value)
                }
           } 
        }
            // data(){
            //     return {
            //         inputValue: ''
            //     }
            // }
        }) 
        app.mount('#app')
    </script>
</body>

</html>